@charset "UTF-8";
caption {
	font-size: 25px;
}

table {
	width: 80%;
}

img {
	width: 30px;
	height: 30px;
}

td:nth-child(3) {
	text-align: center;
}

th {
	height: 25px;
}
tr:nth-child(even){
	background-color: yellow;
}